<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="login-container">
  <div class="login-box">
     <h1 class="titulo">Bienvenido al sistema veterinario 🐾</h1>
     <p class="subtitulo">Sistema de gestión para veterinarias: turnos, pacientes y más.</p>
     <img src="assets/img/pet-logo.png" alt="Mascota" width="100" />

    <h2>Iniciar sesión</h2>
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="login-form">
      <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required #emailRef="ngModel"/>
      <div *ngIf="(emailRef.invalid && emailRef.touched) || (emailRef.invalid && form.submitted)" class="error-msg">
        El email es obligatorio.
      </div>
      <input [type]="verPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" placeholder="Contraseña" required #passwordRef="ngModel"/>
      <div *ngIf="(passwordRef.invalid && passwordRef.touched) || (passwordRef.invalid && form.submitted)" class="error-msg">
        La contraseña es obligatoria.
      </div>
      <button type="button" class="toggle-btn" (click)="verPassword = !verPassword">
        {{ verPassword ? '🙈 Ocultar' : '👁 Mostrar' }}
     </button>
      <button type="submit" [disabled]="form.invalid || isLoading">
        <span *ngIf="!isLoading">🔐 Iniciar sesión</span>
        <span *ngIf="isLoading">⏳ Cargando...</span>
      </button>
      <br>
      <br>
      <div *ngIf="isLoading" class="text-sm text-blue-500 mt-2" style="color: #007bff;">
        Iniciando sesión, esto puede tardar unos segundos ⏳
      </div>
      <br>
      <strong><p *ngIf="error" class="error-msg">{{ error }}</p></strong> 
    </form> 
</div> 
</div> 
</body>
</html>