<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<div class="container">
  <h1>Bienvenido al sistema veterinario 🐾</h1>

  <div class="content">
    <button routerLink="/login">🔐 Login</button>
     <p class="info">(Para registrar un nuevo usuario, primero iniciá sesión como Admin)</p>
  </div>
  <img class="pet-img" [src]="imagenActual" alt="Mascota!" width="200" height="200">
</div>
</body>
</html>